*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: white;
  --accent-color: #a5b1a2;
  --background-color: #394337;
  --card-color: #5b6659;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  background-image: url(../assets/basketball_court.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color);
}

main {
  margin: 100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
