*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: black;
  --accent-color: #dfe0df;
  --primary-color: #ff980e;
  --secondary-color: #fff8f0;
}

.dark-mode {
  --text-color: white;
  --accent-color: #dfe0df;
  --primary-color: black;
  --secondary-color: #006e5f;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

main {
  margin: 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
