@import "./global.css";
@import "./components/header.css";
@import "./components/footer.css";
@import "./components/slider.css";
@import "./components/profile-stats.css";

body {
  background-image: none;
  background-color: var(--secondary-color);
}

.hero {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  font-size: 2rem;
}

.profile-picture {
  border-radius: 100%;
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
}

.about-me {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dark-mode {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-right: 70px;
}
