@import "./global.css";
@import "./components/header.css";
@import "./components/footer.css";
@import "./components/slider.css";
@import "./components/profile-stats.css";

body {
  background-image: none;
  background-color: var(--card-color);
}

.hero {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
}

.profile-picture {
  background-image: url(../assets/profile_picture.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.about-me {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dark-mode {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
