*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  color: white;
  background-color: cornflowerblue;
  z-index: 10;
}

main {
  margin: 100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.question-card {
  background-color: sandybrown;
  width: 80%;
  height: 300px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  position: relative;
}

.question-bookmark {
  position: absolute;
  right: 20px;
  top: -15px;
  width: 3em;
  height: 3em;
  /*   fill: black;
 */
}

.question {
  width: 50%;
  text-align: center;
}

.answer {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: bold;
  display: none;
}

.show-answer {
  display: inline;
}

.answer-button {
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 5px 3px;
  padding: 15px;
  transition: 0.5s all;
}

.answer-button:hover {
  box-shadow: none;
  transition: 0.5s all;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: cornflowerblue;
  z-index: 10;
}

footer a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a:hover {
  background-color: rgb(89, 89, 89);
}

.active {
  border-bottom: 5px solid sandybrown;
}

footer svg {
  color: white;
  width: 2em;
  height: 2em;
}
