header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  color: var(--text-color);
  background-color: var(--background-color);
  z-index: 10;
}
